.SingUp .link,
.SingUp .login-thumbnail {
  --inner-border-width: 0;
}

.SingUp .login-thumbnail {
  width: 100%;
  display: flex;
  justify-content: center;
}

.SingUp .link::part(native) {
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #012aff;
}

.SingUp .label-input {
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 16px !important;
  letter-spacing: 0.4px !important;
  color: #1f1f1f !important;
  opacity: 0.6 !important;
}

.SingUp ion-button {
  --background: rgba(1, 42, 255, 0.5);
  --border-radius: 50px;
  height: 50px;
}

.SingUp .title {
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 3em;
  line-height: 49px;
  color: #1f1f1f;

  z-index: 1;
  position: fixed;
  left: 12%;
  right: 64.27%;
  top: 9.36%;
  bottom: 84.61%;
}

.SingUp .sub-title {
  width: 100%;
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 0.1px;
  color: #1f1f1f;
  mix-blend-mode: normal;
  opacity: 0.8;

  z-index: 1;
  position: fixed;
  left: 12%;
  right: 44.53%;
  top: 16.63%;
  bottom: 80.42%;
}

.SingUp .login-image {
  max-width: 20em;
  padding-left: 40%;
}

.SingUp .submit-button {
  margin-top: 30px;
}

.SingUp .checkbox-container {
  margin-top: 20px;
}

.SingUp .text-container .text {
  display: inline-block;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #1f1f1f;
}

.SingUp .text-container .text span {
  color: #012aff;
}

@media only screen and (min-width: 768px) and (min-height: 768px) {
  .SingUp .login-image {
    padding-left: 30%;
  }
}
